.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #435969, #212931);
}

header{
  width: 100;
  margin: auto;
  background-color: #212931;
}

.header-contents{
  height: 75px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* padding: 0 30px; */
  margin: 0 auto;
}

#logo{
  height: 45px;
  width: 200px;
  background-color: black;
}

.content-container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.profile-container{
  height: 100%;
  max-width: 350px;
}

.movies-container{
  height: auto;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
}

.movie{
  width: 186px;
  margin: 15px;
}

#movie-poster{
  width: 186px;
}